@import "tailwindcss";

@keyframes slideInLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slideInLeft {
  animation: slideInLeft .25s ease-out forwards;
}
